@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HRSolutions.Models.Announcement
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="AddAnnouncement" asp-controller="Announcement" method="post">
    <div class="card card-primary card-outline mb-4">
        <div class="card-header">
            <div class="card-title">Add announcement</div>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Title</span>
                <input asp-for="announcementTitle" class="form-control" />
                <span asp-validation-for="announcementTitle" class="text-danger"></span>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Announcement Description</span>
                <textarea asp-for="description" class="form-control"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

