@model HRSolutions.Models.Notice
@{
    ViewData["Title"] = "Add Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="AddNotice" asp-controller="Notice" method="post">
    <div class="card card-primary card-outline mb-4">
        <div class="card-header">
            <div class="card-title">Notice Form</div>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Title</span>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Author</span>
                <input asp-for="Auther" class="form-control" />
                <span asp-validation-for="Auther" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">Notice Description</span>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

